.row
  .span10 
    %h1 
      Welcome
    .accordion#accordion2
      - @topics.each do |topic|
        .accordion-group
          .accordion-heading
            %a{:class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion2", :href => "##{topic.id}"}
              = topic.name
          %div{:id => topic.id, :class => "accordion-body in collapse" }
            .accordion-inner
              %h5 
                - if topic.links.empty?
                  %p 
                    There are no links currently
                    - if current_user
                      = link_to "Add one", new_topic_link_path(topic) 
                    - else
                      = link_to "Please signin to add links", "/auth/twitter"
                    
                - else
                  %ol
                    - topic.links.order('score DESC').limit(5).each do |link|
                      %li
                        = "#{link.name} | #{link.path}"
                        = "Score #{link.score}"
                        - if current_user
                          - if already_rated?(link.id, current_user)
                            %p you have already voted on this link
                          - else
                            = link_to "Like", link_ratings_path(:link_id => link.id), :method => :post
                            = link_to "Hate", link_ratings_path(:link_id => link.id, :query => "bad"), :method => :post
                  - if current_user      
                    = link_to "Add a new link", new_topic_link_path(topic)
                  - else
                    = link_to "Please sign to add links", "/auth/twitter"
