- array = []
- Topic.select(:name).each do |topic|
  - topic_name = topic.name
  - array << "#{topic_name}"


.row-fluid
  .span10
    %ul.thumbnails
      %li
        %a{href: '#myModal', class: "btn", data:{toggle: "modal"}}
          %img{src: "http://placekitten.com/900/200"}

#topic-list
  .row-fluid
    .span10
      %form.well.global
        %input{:type => "text", :id => "search-box", :class => "search", :placeholder => "   type to search...", :data => {:provide => "typeahead", :items => "4", :source => "#{array}"}}

  .row-fluid
    .span10
      .accordion#accordion2
        %ul.list.unstyled
          - @topics.each do |topic|
            %li
              .accordion-group
                .accordion-heading
                  .row
                    .span12
                      .row
                        .span6
                          %a{:class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion2", :href => "##{topic.id}"}
                            %h2
                              %span.topic-name 
                                = topic.name
                        .span6
                          - if topic.links.count > 0    
                            - the_best_link = topic.links.order("score DESC").first
                            %btn{src: "#{the_best_link.path}", class: "btn", style: "margin-top:10px"} Only the best!
                %div{:id => topic.id, :class => "accordion-body in collapse" }
                  .accordion-inner
                    %h5 
                      - if topic.links.empty?
                        %div{:style => "padding: 30px;", id: "topic_#{topic.id}_links"}
                          %h6{id: "topic_#{topic.id}_no_link_message"}
                            There are no links currently for this topic
                        %p 
                          - if current_user
                            = render partial: "shared/new_link_form", locals: {topic: topic}
                          - else
                            = link_to "Please signin to add links", "/auth/twitter" 
                      - else
                        %div{:style => "padding: 30px;"}
                          - topic.links.order('score DESC').limit(5).each do |link|
                            = render partial: "shared/link", locals: {link: link}
                        - if current_user  
                          = render partial: "shared/new_link_form", locals: {topic: topic}
                        - else
                          = link_to "Please signin to add links", "/auth/twitter"
                        %div{:class => "well", id: "topic_#{topic.id}_links"}
                          %h6 On the Plank
                          - if topic.links.count <= 5
                            / do nothing
                          - else
                            - plank_links = topic.links.order('score DESC').offset(5).where(:created_at => (Time.now - 2.weeks)..Time.now).each do |link|
                              = render partial: "shared/link", locals: {link: link}

%script{ :type => 'text/javascript', :charset => 'utf-8' }
  var options = {valueNames: [ 'topic-name' ]};
  var List = new List('topic-list', options);



.modal#myModal.fade{style: "display: none;"}
  .modal-header
    %a{class: 'close', data:{dismiss: "modal"}}
      x
    %h3 Modal header
  .modal-body
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/32397612", :webkitAllowFullScreen => "", :width => "500"}
  .modal-footer
    %a{href: "#", class: 'btn', data:{dismiss: "modal"}}
      Close