.row-fluid
	.span6.well
		%h1	
			Your profile
.row-fluid
	.span6
		%h2
			Your details
		%ul.unstyled
			%li
				Name: 
				= @user.name
			%li
				Biography:
				= best_in_place @user,:bio, type: :textarea

.row-fluid
	%h2.well Your links
	%ol
		- @user.links.order("score DESC").each do |link|
			%li= "#{link.name} - #{link.score}"