.row{style: "padding: 10px;"}
  .span8
    .row
      .span4
        %p.link
          %a{:href => "#{link.path}", "data-id" => link.id, :target => "_blank", :style => "font-size: 1.6em;"}
            = link.name
        %h6#user_info
          Submitted by
          = link_to link.user.name, user_path(link.user_id)     
      .span4{id: "link_#{link.id}"}
        - if current_user
          - if already_rated?(link.id, current_user)
            / do nothing
          - else
            = link_to link_ratings_path(:link_id => link.id), :method => :post, remote: true, class: "btn" do
              %i.icon-chevron-up
              Vote up
            = link_to link_ratings_path(:link_id => link.id, :query => "bad"), :method => :post, remote: true, class: "btn" do
              %i.icon-chevron-down
              Vote down