!!!
%html
  %head
    %title Cutthroat health
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid.offset2
          %a.brand{:href => "/"} Cutthroat Health
          %ul.nav.pull-right
            - if current_user
              %li
                = link_to "Profile", current_user
              %li
                = link_to "Sign out", signout_path
            -else
              %li
                =link_to "Sign in with Twitter", "/auth/twitter"
              %li
                =link_to "Sign in with Facebook", "/auth/facebook"

    .container-fluid.offset2
      - if flash[:notice]
        .row 
          .span3.offset5
            .alert.alert-info.alert_block
              %a.close{:data => {:dismiss => "alert"}}
                x
              %h4.alert-heading
                %i.icon-ok
                = flash[:notice]
      = yield